# ── Database (shared semua service) ──────────────────────────
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_database_password
DB_NAME=larasana
DB_SYNC=true


# ── JWT ───────────────────────────────────────────────────────
JWT_ACCESS_SECRET=your_jwt_access_secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

# ── Service Ports ─────────────────────────────────────────────
GATEWAY_PORT=3000
USERS_SERVICE_PORT=3001
COMMERCE_SERVICE_PORT=3002
NOTIFICATION_SERVICE_PORT=3003

# ── Mail ──────────────────────────────────────────────────────
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_FROM="LARASANA <no-reply@larasana.id>"

# ── Midtrans ──────────────────────────────────────────────────
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_SANDBOX=true

# ── Frontend ─────────────────────────────────────────────────
FRONTEND_URL=http://localhost:5173

# ── EasyPost Shipping API ─────────────────────────────────────
EASYPOST_API_KEY=your_easypost_api_key
BITESHIP_API_KEY=your_biteship_api_key

# ── RajaOngkir Shipping API ───────────────────────────────────
RAJAONGKIR_API_KEY=your_rajaongkir_api_key
RAJAONGKIR_ORIGIN=233
RAJAONGKIR_USD_RATE=15000

# ── Google OAuth ──────────────────────────────────────────────
GOOGLE_CLIENT_ID=your_google_client_id
