# ── Database (shared semua service) ──────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=larasana_db

# ── JWT ───────────────────────────────────────────────────────
JWT_ACCESS_SECRET=ganti_random_string_panjang_access
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=ganti_random_string_panjang_refresh
JWT_REFRESH_EXPIRES_IN=7d

# ── Service Ports ─────────────────────────────────────────────
GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
USERS_SERVICE_PORT=3002
ORDERS_SERVICE_PORT=3003
PRODUCTS_SERVICE_PORT=3004
PAYMENTS_SERVICE_PORT=3005
ADMIN_SERVICE_PORT=3006
NOTIFICATION_SERVICE_PORT=3007

# ── Mail ──────────────────────────────────────────────────────
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_gmail_app_password
MAIL_FROM="LARASANA <no-reply@larasana.id>"

# ── Midtrans ──────────────────────────────────────────────────
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxx
MIDTRANS_IS_SANDBOX=true

# ── Frontend ─────────────────────────────────────────────────
FRONTEND_URL=http://localhost:5173
